<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Insight">
        <activity android:name=".themeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ArplacementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".codeeditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnlatyicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rotationview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CatalogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".roboActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".compatibiltyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>